<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.unicorn.signboard">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/logo"
                 android:name=".app.App"
                 android:roundIcon="@mipmap/logo"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme" tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="dXxq6hMGIxWgrZbKeqfsAQAjKtALdlzz" />

        <activity android:name=".login.ui.LoginAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.MainAct"/>
        <activity android:name=".merchant.list.ui.MerchantListAct"/>
        <activity android:name=".merchant.add.AddMerchantAct"/>
        <activity android:name=".operateType.ui.OperateTypeAct"/>
        <activity android:name=".operateTypeQuery.OperateTypeQueryAct"/>
        <activity android:name=".area.ui.AreaAct"/>
    </application>

</manifest>
